{% extends 'users/base.html' %}
{% block title %}Delete {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card card-body">

<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Contact</legend>
        <h4>Are you want to Delete "{{ object.name }}"</h4>
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'users:contact-index' %}">Cancel</a>
    </div>
</form>

        </div>
    </div>
    </div>
{% endblock %}